/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Header */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

/* Main Content */
main {
    padding: 20px;
}

/* Graph Section */
#graph {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

#graph h2 {
    margin-top: 0;
}

#graph button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#graph button:hover {
    background-color: #45a049;
}

/* Investment Selection */
#investment-selection {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

#investment-selection h2 {
    margin-top: 0;
}

#investmentForm div {
    margin-bottom: 10px;
}

#investmentForm label {
    margin-right: 10px;
    font-weight: bold;
}

#investmentForm button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#investmentForm button:hover {
    background-color: #45a049;
}

#investmentForm p {
    font-weight: bold;
}

#investmentForm #submitButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #008CBA;
}

#investmentForm #submitButton:hover {
    background-color: #007bb5;
}

#timer, #countdown {
    margin-top: 10px;
}

/* Portfolio Summary */
#portfolio-summary {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

#portfolio-summary h2 {
    margin-top: 0;
}

#portfolio-summary p {
    margin: 5px 0;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
